$themes: (
  dark: (
    primary-main: #4d4d4d,
    white-main: #fff,
    black-main: #1d1d1d,
    hover-main: #2f2f2f,
    red-main: #fa7272,
    red-hover-main: #f88
  ),
  // TODO: light theme colors
  light:
    (
      primary-main: #4d4d4d,
      white-main: #fff,
      black-main: #1d1d1d,
      hover-main: #2f2f2f,
      red-main: #fa7272,
      red-hover-main: #f88
    )
);

@mixin spread-theme-variables($theme: 'dark') {
  @each $color, $value in map-get($themes, $theme) {
    --rlt-#{$color}: #{$value};
  }
}

:root {
  @include spread-theme-variables('dark');
}

$white-main: var(--rlt-white-main);
$black-main: var(--rlt-black-main);
$border-primary: var(--rlt-primary-main);
$hover: var(--rlt-hover-main);
$red: var(--rlt-red-main);
$red-hover: var(--rlt-red-hover-main);
